#presentacion {
    height: 90vh;
    background-image: url(descarga.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /*
    display: flex;
    justify-content: start;
    align-items: center;
*/
}

.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#proyecto-1 {
    background-image: url('Google.png');
}
#proyecto-2 {
    background-image: url('Google.png');
}

.text-shadow-1 {
    text-shadow: -3px 1px 3px #000;
}